@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

:root{
  --bg:#08060a;
  --left-from:#4b1bff;
  --left-to:#7f3bff;
}

.outer{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background: var(--bg);
  padding: 30px;
  font-family:'Poppins', sans-serif;
}

.frame{
  width:1150px;
  height:630px;
  display:flex;
  border-radius:12px;
  position:relative;
}

.frame::before{
  content:"";
  position:absolute;
  inset:-10px;
  border-radius:14px;
  border:2px solid rgba(190,120,255,0.35);
  box-shadow:
    0 0 18px rgba(120,60,255,0.45),
    0 0 46px rgba(120,60,255,0.18),
    0 0 110px rgba(120,60,255,0.08);
  pointer-events:none;
}

.left{
  width:56%;
  height:100%;
  border-radius:8px 0 0 8px;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:56px 48px;
  pointer-events:none;
}

.leftContent{
  color:white;
  text-align:left;
  pointer-events:auto;
}

.leftContent h1{
  font-size:52px;
  font-weight:900;
  line-height:1;
}

.leftContent p{
  margin-top:16px;
  opacity:0.85;
}

/* RIGHT PANEL */
.right{
  width:44%;
  height:100%;
  background:#08060a;
  border-radius:0 8px 8px 0;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:64px 56px;
}

/* FORM */
.form{
  width:100%;
  max-width:360px;
  color:white;
}

.form h2{
  font-size:34px;
  font-weight:800;
  margin-bottom:28px;
}

.labelText{
  color:#cfc5d9;
  font-size:14px;
  margin-bottom:8px;
  display:block;
}

.field{
  margin-bottom:26px;
}

.inputRow{
  position:relative;
}

.inputRow input{
  width:100%;
  background:transparent;
  border:none;
  border-bottom:3px solid rgba(255,255,255,0.15);
  padding:12px 44px 12px 0;
  color:white;
  font-size:15px;
  outline:none;
}

.showPass{
  position:absolute;
  right:0;
  bottom:10px;
  color:#d7b8ff;
  cursor:pointer;
  font-size:13px;
}

/* Forgot */
.forgot{
  color:#d7b8ff;
  cursor:pointer;
  font-size:14px;
  margin-top:-10px;
  margin-bottom:15px;
}

/* Error */
.error{
  color:#ff4d4d;
  margin:0 0 10px;
}

/* BUTTON */
.cta{
  width:76%;
  padding:14px;
  background:linear-gradient(180deg,#8b46ff,#6422ff);
  border:none;
  border-radius:36px;
  color:white;
  font-size:16px;
  font-weight:700;
  cursor:pointer;
  box-shadow:0 10px 30px rgba(120,60,255,0.28);
}

.cta:hover{
  transform:translateY(-3px);
  box-shadow:0 18px 60px rgba(120,60,255,0.36);
}

/* FOOTER */
.footerText{
  margin-top:16px;
  font-size:14px;
  color:#bbb;
}

.link{
  color:#d7b8ff;
  background:none;
  cursor:pointer;
  border:none;
  margin-left:6px;
  font-weight:600;
}
