/* Center container */
.otpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f6fa;
  font-family: "Poppins", sans-serif;
}

/* Card */
.card {
  background: #ffffff;
  padding: 40px 30px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

/* Subtitle */
.subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

/* OTP input */
.otpInput {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
  transition: 0.3s ease;
}

.otpInput:focus {
  border-color: #4b7bec;
}

/* Buttons */
.verifyBtn {
  width: 100%;
  background: #4b7bec;
  color: white;
  padding: 12px 0px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.verifyBtn:hover {
  background: #3867d6;
}

/* Resend OTP */
.resendText {
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

.resendLink {
  color: #4b7bec;
  cursor: pointer;
  font-weight: 600;
}

.resendLink:hover {
  text-decoration: underline;
}

/* Loading disable */
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
